.member-modal-container{
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.modal-main{
    overflow: auto;
    position:fixed;
    /* moves modal left and down */
    transform: translate(-120%, -10%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;  
    width: 200px;
}

.member-title{
    font-size: 20px;
    color: #779ECB;
    border-bottom: solid;
    padding-bottom: 10px;
}

.display-none{
    display: none;
}

.member-name{
    transition: all .3s ease-in-out;
}

.member-name:hover{
    transform: scale(0.95);
}