.child-name{
    cursor: pointer;
}

.settings-modal-main{
    position:fixed;
    /* moves modal left and down */
    transform: translate(350%, 50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;  
    width: 100px;
}