.event-list-container{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

.event-list-title{
    margin: 10px 20px;
}

.event-list-header{
    margin-top: 20px;
    margin-left: 0;
}

.event-card{
    padding: 25px;
    margin: 15px;
    transition: all .3s ease-in-out;
    height: 300px;
    width: 300px;
    position: relative;
}

.event-card:hover{
    transform: scale(1.05);
}

.link-to-edit:hover{
    text-decoration: none;
}

.all-events-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-details{
    position: absolute;
    bottom: 0;
}

.color-blue{
    color: #779ECB;
}

.no-event-text{
    margin: 15px 20px;
}

.add-event-side{
    display: flex;
}

.add-evt-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.future-evts{
    width: 60%;
}