.msgContainer{
    display: flex;
    margin: 20px;
}

.msgBox{
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    max-width: 40%;
}

.msgText{
    word-wrap: break-word;
}

.justifyEnd{
    justify-content: flex-end;
}

.justifyStart{
    justify-content: flex-start;
}

.notMe{
    flex-direction: column;
}

.currUser{
    background-color: #50c1f5;
    color: white;
}

.notCurrUser{
    background-color: #F1F0F0;
    border: none;
}

.add-msg-to-notes{
    outline: none;
    background-color: transparent;
    border: none;
}