.edit-team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.edit-separator{
    width: 100%;
    display: flex;
}

.edit-search-input{
    margin: 20px 0;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    padding: 5px 15px;
    width: 90%;
}

.members-edit-list{
   height: 100%;
   overflow: auto; 
}

.edit-team-btn{
    margin: 30px;
}

.back-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-back{
    color: #779ECB;
    margin-top: 15px;
    transition: all .3s ease-in-out;
}

.edit-back:hover{
    cursor: pointer;
    transform: scale(0.95);
}

.edit-team-title{
    margin-top: 20px;
    margin-left: 0;
}

.edit-member-admin{
    display: flex;
}

.admin:hover{
    cursor: pointer;
}