.team-header-container{
    margin: 10px 40px;
}

.team-name-title{
    font-size: 35px;
    margin-bottom: 10px;
}

.scale-hover{
    transition: all .3s ease-in-out;
}

.scale-hover:hover{
    transform: scale(0.9);
}

.chat-icon{
    margin-right: 15px;
}

.options-icon:hover{
    cursor: pointer;
}

.members-icon{
    margin-right: 20px;
}

.members-icon:hover{
    cursor: pointer;
}

.members-container{
    display: flex;
    flex-direction: row;
}

.members-list{
    display: flex;
    flex-direction: row;
}

.indiv-member{
    margin-right: 5px;
}

.members-chat{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.team-desc{
    margin-left: 12px;
    font-size: 20px;
}

.home-btn{
    margin-left: 10px;
}

