.add-event-container{
    font-family: 'Roboto', sans-serif;
}

.add-event-header{
    text-align: center;
    margin: 15px;
}

.add-event-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-label{
    font-size: 20px;
    margin-top: 10px;
}

.event-input{
    margin-bottom: 10px;
    width: 55%;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    padding: 5px 15px;
}

.event-input:focus{
    border-color: #779ECB;
}

.date-selectors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.date-chooser{
    margin: 20px;
    width: 300px;
}