.edit-note-container{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

textarea:focus{
    outline:none;
}

input:focus{
    outline:none;
}

.note-title{
    width: 100%;
    /*border-style: none;*/
    padding-left: 20px;
    height: 50px;
    font-size: 35px;
    color: #779ECB;
}

.note-body{
    width: 100%;
    /*border-style: none;*/
    padding-left: 20px;
    padding-top: 15px;
    font-size: 20px;
    height: 60vh;
}

.no-border{
    border-style: none;
}


.btn-container{
    display: flex;
    justify-content: center;    
}

.pinned-btn{
    color: #779ECB;
}

.pinned-btn:hover{
    cursor: pointer;
}

input::placeholder{
    color: #779ECB;
    opacity: 1;
}

.select-tag-container{
    margin: 10px;
}

.select-tag{
    border: none;
    padding: 10px;
    box-shadow: 1px 1px 5px #cccccc;
    border-radius: 5px;
    outline: none;
}

.added-tag:hover{
    cursor: pointer;
}
