.all-notes-container{
    margin: 25px;
}

.header-container{
    display: flex;
}

.header-text{
    margin-top: 18px;
}

.section-title{
    margin: 15px;
}

.folder{
    display: flex;
    flex-direction: row;
}

.folder-icon{
    margin-right: 8px;
}

.tag-folder-item{
    text-decoration: none;
    border-bottom-style: none;
    color: black;
}

.tag-folder-item{
    margin: 15px;
    padding: 10px 25px;
    box-shadow: 1px 1px 5px #cccccc;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

.tag-folder-item:hover{
    transform: scale(1.05);
}

.untagged-notes{
    display: flex;
}

.note-card{
    margin: 10px;
    padding: 10px 20px;
    transition: transform 0.3s ease-out;
    min-height: 280px;
    position: relative;
    width: 350px;
}

.note-card:hover{
    transform: scale(1.02);
    cursor: pointer;
}