.login-container{
    font-family: 'Roboto', sans-serif;
    background-color: #779ECB;
    width: 100%;
    height: 100vh;
}

.inner-container{
    width: 50%;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: white;
}

.form-width{
    width: 100%;
    margin: 10px;
}

.title-text{
    margin: 20px;
    text-align: center;
}

.m-20{
    margin: 20px;
}

.blue-link{
    color:#779ECB;
}

.blue-link:hover{
    color:rgb(63, 104, 151);
    text-decoration: none;
}