.list-title:hover{
    color:#779ECB;
    text-decoration: none;
}

.team-notes-list{
    margin-left: 30px;
}

.home-note-content{
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    margin: 10px;
    width: 350px;
    height: 210px;
    transition: all .3s ease-in-out;
}

.home-note-content:hover{
    transform: scale(0.95);
}

.h-notes-list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-note-title{
    font-size: 25px;
    color:#779ECB;
}

.note-details{
    font-size: 12px;
}

.note-author{
    position: absolute;
    bottom: 0;
}

.context-menu-container{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    padding: 10px;
}

.context-menu-item:hover{
    cursor: pointer;
    color:#779ECB;
}

